<% form_tag (sessions_path, {:class => "form_inline"}) do %>
<span class="display_block">
<%= label :user, :uid %>
<%= text_field :user, :uid, :autocapitalize =>"off" %>
</span>
<span class="display_block">
<%= label :user, :password %>
<%= password_field :user, :password %>
</span>
<div class="submit_button_login">
  <%= submit_tag t('link.login') %>
</div>
<% end %>
